out/
out/package/
build/
output/
.vs/
.vscode/
__pycache__/
*.pyc
*.obj
*.user
*.suo
*.opensdf
*.sdf
*.VC.db
*.log
*.pcd
point_cloud.txt
stereo_calibration.yml
CMakeUserPresets.json
/config/*.ini
/config/*.json
/reference-archives/
